:root {
  --book-color: #f5f4f2;
  --text-color: #0f0e10;
  --bg-color: #0e0e0e;
  --sun-1-color: #f42400;
  --sun-2-color: #f9a101;
  --sun-3-color: #c5cd02;
  --sun-4-color: #0099e7;
}

@font-face {
  font-family: "swiss-721";
  font-style: normal;
  font-weight: normal;
  src: url("Swiss 721 Extended BT.ttf") format("opentype");
}

@font-face {
  font-family: "neil-bold";
  font-style: normal;
  font-weight: normal;
  src: url("Neil\ Bold.ttf") format("opentype");
}

body {
  background: var(--bg-color);
}

.book {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--book-color);
  z-index: -99;
}

.title {
  font-family: 'neil-bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: var(--text-color);
  position: absolute;
  top: 270px;
  left: 20px;
}

.author {
  font-family: neil-bold-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  color: var(--text-color);
  position: absolute;
  top: 425px;
  left: 75px;
}

.circle {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.sun-1 {
  width: 100px;
  height: 100px;
  background: var(--sun-1-color);
  border: 2px solid black;
}

.sun-2 {
  width: 200px;
  height: 200px;
  background: var(--sun-2-color);
  border: 2px solid black;
}

.sun-3 {
  width: 300px;
  height: 300px;
  background: var(--sun-3-color);
  border: 2px solid black;
}

.sun-4 {
  width: 360px;
  height: 180px;
  background: var(--sun-4-color);
  border: 2px solid black;
  position: absolute;
  top: 20px;
  left: 18px;
  z-index: -10;
}

.hider {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 270px;
  background: var(--book-color);
  z-index: -1;
}
